body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
}

.header {
    color: gold;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.main-area {
    background-color: #000;
    opacity: 0.75;
}

.fonts {
    color: gold;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


/*font-family: 'Bungee Outline', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Covered By Your Grace', cursive;*/
